# Directory
Setting up the project and dataset directories

In [137]:
# Set root dir
import os

os.chdir("/")
print("Current Working Directory:", os.getcwd())

# !!CHANGE THIS!!
working_dir="/BigData"  # BREU + Docker + E: (offline)

dataset_dir=f"{working_dir}/dataset"

dataset_original_csv = f'{dataset_dir}/creditScores.csv'

dataset_csv_path = f'{dataset_dir}/creditScores_csv'
dataset_json_path = f'{dataset_dir}/creditScores_json'
dataset_parquet_path = f'{dataset_dir}/creditScores_parquet'
dataset_orc_path = f'{dataset_dir}/creditScores_orc'
dataset_avro_path = f'{dataset_dir}/creditScores_avro'

clean_dataset_path = f'{dataset_dir}/clean_creditScores_orc'
final_dataset_path = f'{dataset_dir}/final_creditScores_orc'

outputs = f"{working_dir}/output"
pipeline_model_path = f"{outputs}/pipeline_model"

os.chdir(working_dir)
print(f"New working directory: {working_dir}")

Current Working Directory: /
New working directory: /BigData

# Spark

In [138]:
from pyspark import SparkConf
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoder, SQLTransformer
from pyspark.sql import functions as F, SparkSession, DataFrame
from pyspark.sql.functions import *

proj_conf = SparkConf()\
        .setAppName("projBigData_performance")\
        .set("spark.driver.memory", "16g")\
        .set("spark.jars.packages", "org.apache.spark:spark-avro_2.12:3.5.0")

spark = SparkSession.builder.config(conf=proj_conf).getOrCreate()

In [94]:
# spark.stop()

In [139]:
df = spark.read.orc(clean_dataset_path)
df.printSchema()

root
 |-- ID: long (nullable = true)
 |-- Customer_ID: long (nullable = true)
 |-- Month: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- SSN: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Annual_Income: float (nullable = true)
 |-- Monthly_Inhand_Salary: float (nullable = true)
 |-- Num_Bank_Accounts: integer (nullable = true)
 |-- Num_Credit_Card: integer (nullable = true)
 |-- Interest_Rate: float (nullable = true)
 |-- Num_of_Loan: integer (nullable = true)
 |-- Type_of_Loan: string (nullable = true)
 |-- Delay_from_due_date: integer (nullable = true)
 |-- Num_of_Delayed_Payment: float (nullable = true)
 |-- Changed_Credit_Limit: double (nullable = true)
 |-- Num_Credit_Inquiries: integer (nullable = true)
 |-- Credit_Mix: string (nullable = true)
 |-- Outstanding_Debt: float (nullable = true)
 |-- Credit_Utilization_Ratio: float (nullable = true)
 |-- Credit_History_Age: integer (nullable = true)
 |-- Payment_of_Min_Amount: string (nullable = true)
 |-- Total_EMI_per_month: float (nullable = true)
 |-- Amount_invested_monthly: float (nullable = true)
 |-- Payment_Behaviour: string (nullable = true)
 |-- Monthly_Balance: float (nullable = true)
 |-- Credit_Score: string (nullable = true)

In [96]:
df.orderBy("Customer_ID").show(truncate=False)

+-----+-----------+--------+-----------------+----+-----------+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------------------+---------------+------------+
|ID   |Customer_ID|Month   |Name             |Age |SSN        |Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|Type_of_Loan                                     |Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|Payment_Behaviour               |Monthly_Balance|Credit_Score|
+-----+-----------+--------+-----------------+----+-----------+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------------------+---------------+------------+
|27751|1006       |February|Matthias Blamontb|38  |354-65-6948|Journalist|16756.18     |1331.3483            |9                |6              |22.0         |NULL       |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |Standard  |1941.73         |34.7122                 |183               |Yes                  |27.4421            |90.0784                |Low_spent_Medium_value_payments |295.6143       |Poor        |
|27754|1006       |May     |Matthias Blamontb|38  |354-65-6948|Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |NULL                  |10.66               |8                   |Standard  |1941.73         |38.7553                 |186               |Yes                  |27.4421            |51.7262                |Low_spent_Large_value_payments  |323.9665       |Poor        |
|27753|1006       |April   |Matthias Blamontb|NULL|354-65-6948|Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |13.0                  |10.66               |8                   |Standard  |1941.73         |33.7256                 |185               |Yes                  |27.4421            |56.495                 |High_spent_Small_value_payments |309.1978       |Poor        |
|27755|1006       |June    |Matthias Blamontb|38  |354-65-6948|Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |          |1941.73         |27.1975                 |187               |Yes                  |27.4421            |60.8283                |                                |334.8645       |Poor        |
|27757|1006       |August  |Matthias Blamontb|38  |354-65-6948|Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |Standard  |1941.73         |25.8125                 |189               |Yes                  |32972.0            |66.7182                |Low_spent_Small_value_payments  |328.9745       |Poor        |
|27752|1006       |March   |Matthias Blamontb|38  |354-65-6948|Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |Standard  |1941.73         |32.1905                 |184               |Yes                  |27.4421            |61.7327                |Low_spent_Small_value_payments  |333.96         |Poor        |
|27756|1006       |July    |Matthias Blamontb|38  |354-65-6948|Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |11.0                  |10.66               |8                   |Standard  |1941.73         |23.9244                 |188               |Yes                  |27.4421            |95.6486                |Low_spent_Large_value_payments  |280.0441       |Poor        |
|27750|1006       |January |Matthias Blamontb|37  |354-65-6948|Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |NULL                  |10.66               |NULL                |Standard  |1941.73         |37.5011                 |182               |Yes                  |27.4421            |45.3011                |High_spent_Medium_value_payments|310.3917       |Poor        |
|53255|1007       |June    |Soyoung Kimu     |48  |964-81-2710|Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |21.0                  |2.13                |1                   |Standard  |993.15          |35.5584                 |NULL              |No                   |45.7457            |NULL                   |                                |239.4648       |Standard    |
|53253|1007       |April   |Soyoung Kimu     |48  |964-81-2710|Manager   |21212.91     |1496.7426            |1174             |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |5.13                |1                   |Standard  |993.15          |37.475                  |349               |No                   |45.7457            |62.8125                |High_spent_Medium_value_payments|291.1161       |Standard    |
|53257|1007       |August  |Soyoung Kimu     |48  |964-81-2710|Manager   |21212.91     |1496.7426            |3                |888            |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|16                 |19.0                  |5.13                |1                   |Standard  |993.15          |38.9119                 |NULL              |No                   |45.7457            |118.5424               |Low_spent_Small_value_payments  |275.3861       |Poor        |
|53252|1007       |March   |Soyoung Kimu     |48  |964-81-2710|Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |5.13                |1                   |Standard  |993.15          |30.0026                 |348               |No                   |45.7457            |NULL                   |Low_spent_Small_value_payments  |265.4875       |Standard    |
|53256|1007       |July    |Soyoung Kimu     |48  |964-81-2710|Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |20.0                  |5.13                |1                   |          |993.15          |40.6332                 |352               |No                   |45.7457            |59.309                 |Low_spent_Small_value_payments  |334.6196       |Standard    |
|53251|1007       |February|Soyoung Kimu     |48  |964-81-2710|Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |5.13                |1                   |Standard  |993.15          |37.6556                 |347               |No                   |45.7457            |44.32                  |High_spent_Medium_value_payments|309.6086       |Standard    |
|53250|1007       |January |Soyoung Kimu     |48  |964-81-2710|Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |12.13               |1                   |          |993.15          |35.269                  |346               |No                   |45.7457            |30.3735                |High_spent_Medium_value_payments|323.5551       |Standard    |
|53254|1007       |May     |Soyoung Kimu     |48  |964-81-2710|Manager   |21212.91     |NULL                 |3                |4              |10.0         |NULL       |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |NULL                  |5.13                |1196                |          |993.15          |35.0043                 |350               |No                   |45.7457            |148.3096               |Low_spent_Small_value_payments  |245.619        |Standard    |
|56851|1008       |February|Koht             |37  |802-19-4704|Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |28                 |11.0                  |14.11               |10                  |Standard  |1138.97         |28.3447                 |293               |Yes                  |0.0                |NULL                   |Low_spent_Large_value_payments  |350.3935       |Standard    |
|56853|1008       |April   |Koht             |37  |802-19-4704|Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |26                 |NULL                  |14.11               |10                  |          |1138.97         |28.3291                 |NULL              |                     |0.0                |170.869                |High_spent_Small_value_payments |354.6346       |Standard    |
|56856|1008       |July    |Koht             |37  |802-19-4704|Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |26                 |11.0                  |14.11               |10                  |Standard  |1138.97         |32.7251                 |298               |Yes                  |0.0                |197.8504               |Low_spent_Large_value_payments  |337.6532       |Standard    |
|56857|1008       |August  |Koht             |37  |802-19-4704|Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |26                 |13.0                  |14.11               |10                  |Standard  |1138.97         |23.6839                 |299               |Yes                  |0.0                |165.2044               |Low_spent_Large_value_payments  |370.2991       |Standard    |
+-----+-----------+--------+-----------------+----+-----------+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------------------+---------------+------------+
only showing top 20 rows

# Process columns (outside pipeline)

In [97]:
pipeline_steps = []

### Aux functions

In [98]:
def check_missing_values(df: DataFrame, column: str) -> None:
    missing_count = df.filter((F.col(column).isNull()) | (F.col(column) == "")).count() # Considers isNull and Empty string as missing
    print(f"Number of missing values in column '{column}': {missing_count}")
    
def check_distinc_values(df: DataFrame, column: str, truncate: bool = True) -> None:
    df.select(column).distinct().show(truncate=truncate)

def get_distinct_values(df: DataFrame, column_name: str) -> list:
    unique_values = df.select(column_name).distinct().rdd.flatMap(lambda x: x).collect()
    return unique_values

def string_na_missing_values(df: DataFrame, column_name: str) -> DataFrame:
    # Replace null values or empty strings in the specified column with the string "NA"
    df = df.withColumn(column_name, F.when((F.col(column_name).isNull()) | (F.col(column_name) == ""), F.lit("NA")).otherwise(F.col(column_name)))
    return df

#### In handling the empty values we had a few options and proceeded as follows:

Numerical Columns -> Filter by customer and replace by most common in the given customer for values which were meant to be constant values such as yearly income within the same year, or occupation.

Numerical Columns -> Filter by customer and replace with mean value of the given column for that customer

Categorical Columns -> Fill with string "NA" as per the function string_na_mising_values

---

#### Proceeding this way in our view allows us to:

Retain data integrity - Not losing rows and information due to dropping them on finding an empty value.

Avoiding Bias in the Model - Dropping rows may lead to bias in the model especially if the missing values happen to not be random. It's important to avoid unintentionally excluding certain patterns or groups from your analysis, and marking values as "NA" ensures the model considers absence of information.

Facilitating impute parameters - On deploying the model, the model is prepared to handle empty values and process them accordingly, with respect to it's training in what that empty value might impact the outcome.

Consistency - Consistent approach to handling missing values across most features avoids unintentional external bias.

## Remove unused columns (cleaning)

ID, Name and SSN are not required

In [99]:
to_drop = ["ID", "Name", "SSN"]
for col in to_drop:
    df = df.drop(col)

df.orderBy("Customer_ID").show(truncate=False)

# We will be keeping Customer_ID for now as a means to populate other columns based on data that's universal for every entry of the same Customer_ID

+-----------+--------+----+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------------------+---------------+------------+
|Customer_ID|Month   |Age |Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|Type_of_Loan                                     |Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|Payment_Behaviour               |Monthly_Balance|Credit_Score|
+-----------+--------+----+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------------------+---------------+------------+
|1006       |August  |38  |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |Standard  |1941.73         |25.8125                 |189               |Yes                  |32972.0            |66.7182                |Low_spent_Small_value_payments  |328.9745       |Poor        |
|1006       |April   |NULL|Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |13.0                  |10.66               |8                   |Standard  |1941.73         |33.7256                 |185               |Yes                  |27.4421            |56.495                 |High_spent_Small_value_payments |309.1978       |Poor        |
|1006       |May     |38  |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |NULL                  |10.66               |8                   |Standard  |1941.73         |38.7553                 |186               |Yes                  |27.4421            |51.7262                |Low_spent_Large_value_payments  |323.9665       |Poor        |
|1006       |July    |38  |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |11.0                  |10.66               |8                   |Standard  |1941.73         |23.9244                 |188               |Yes                  |27.4421            |95.6486                |Low_spent_Large_value_payments  |280.0441       |Poor        |
|1006       |February|38  |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |NULL       |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |Standard  |1941.73         |34.7122                 |183               |Yes                  |27.4421            |90.0784                |Low_spent_Medium_value_payments |295.6143       |Poor        |
|1006       |June    |38  |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |          |1941.73         |27.1975                 |187               |Yes                  |27.4421            |60.8283                |                                |334.8645       |Poor        |
|1006       |January |37  |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |NULL                  |10.66               |NULL                |Standard  |1941.73         |37.5011                 |182               |Yes                  |27.4421            |45.3011                |High_spent_Medium_value_payments|310.3917       |Poor        |
|1006       |March   |38  |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |Standard  |1941.73         |32.1905                 |184               |Yes                  |27.4421            |61.7327                |Low_spent_Small_value_payments  |333.96         |Poor        |
|1007       |March   |48  |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |5.13                |1                   |Standard  |993.15          |30.0026                 |348               |No                   |45.7457            |NULL                   |Low_spent_Small_value_payments  |265.4875       |Standard    |
|1007       |July    |48  |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |20.0                  |5.13                |1                   |          |993.15          |40.6332                 |352               |No                   |45.7457            |59.309                 |Low_spent_Small_value_payments  |334.6196       |Standard    |
|1007       |February|48  |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |5.13                |1                   |Standard  |993.15          |37.6556                 |347               |No                   |45.7457            |44.32                  |High_spent_Medium_value_payments|309.6086       |Standard    |
|1007       |June    |48  |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |21.0                  |2.13                |1                   |Standard  |993.15          |35.5584                 |NULL              |No                   |45.7457            |NULL                   |                                |239.4648       |Standard    |
|1007       |May     |48  |Manager   |21212.91     |NULL                 |3                |4              |10.0         |NULL       |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |NULL                  |5.13                |1196                |          |993.15          |35.0043                 |350               |No                   |45.7457            |148.3096               |Low_spent_Small_value_payments  |245.619        |Standard    |
|1007       |April   |48  |Manager   |21212.91     |1496.7426            |1174             |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |5.13                |1                   |Standard  |993.15          |37.475                  |349               |No                   |45.7457            |62.8125                |High_spent_Medium_value_payments|291.1161       |Standard    |
|1007       |January |48  |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |12.13               |1                   |          |993.15          |35.269                  |346               |No                   |45.7457            |30.3735                |High_spent_Medium_value_payments|323.5551       |Standard    |
|1007       |August  |48  |Manager   |21212.91     |1496.7426            |3                |888            |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|16                 |19.0                  |5.13                |1                   |Standard  |993.15          |38.9119                 |NULL              |No                   |45.7457            |118.5424               |Low_spent_Small_value_payments  |275.3861       |Poor        |
|1008       |August  |37  |Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |26                 |13.0                  |14.11               |10                  |Standard  |1138.97         |23.6839                 |299               |Yes                  |0.0                |165.2044               |Low_spent_Large_value_payments  |370.2991       |Standard    |
|1008       |March   |37  |Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |22                 |11.0                  |14.11               |10                  |Standard  |1138.97         |33.2652                 |294               |Yes                  |0.0                |337.1997               |Low_spent_Small_value_payments  |218.3038       |Standard    |
|1008       |April   |37  |Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |26                 |NULL                  |14.11               |10                  |          |1138.97         |28.3291                 |NULL              |                     |0.0                |170.869                |High_spent_Small_value_payments |354.6346       |Standard    |
|1008       |January |3452|Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |25                 |11.0                  |14.11               |6                   |          |1138.97         |27.8162                 |292               |Yes                  |0.0                |118.8807               |High_spent_Small_value_payments |406.6229       |Standard    |
+-----------+--------+----+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------------------+---------------+------------+
only showing top 20 rows

## Dealing with Outliers

In [100]:
def iqr_outlier_treatment(dataframe: DataFrame, columns: list, factor=3):

    for column in columns:
        # Calculate Q1, Q3, and IQR
        quantiles = dataframe.approxQuantile(column, [0.25, 0.75], 0.01)
        q1, q3 = quantiles[0], quantiles[1]
        iqr = q3 - q1

        # Define the upper and lower bounds for outliers
        lower_bound = q1 - factor * iqr
        upper_bound = q3 + factor * iqr

        # Replace outliers with empty values
        dataframe = dataframe.withColumn(column, F.when((F.col(column) < lower_bound) | (F.col(column) > upper_bound), None).otherwise(F.col(column)))

    return dataframe

In [101]:
numeric_columns = ['Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card',
          'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
          'Num_Credit_Inquiries', 'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age', 'Total_EMI_per_month',
          'Amount_invested_monthly', 'Monthly_Balance']

numeric_columns

['Age',
 'Annual_Income',
 'Monthly_Inhand_Salary',
 'Num_Bank_Accounts',
 'Num_Credit_Card',
 'Interest_Rate',
 'Num_of_Loan',
 'Delay_from_due_date',
 'Num_of_Delayed_Payment',
 'Changed_Credit_Limit',
 'Num_Credit_Inquiries',
 'Outstanding_Debt',
 'Credit_Utilization_Ratio',
 'Credit_History_Age',
 'Total_EMI_per_month',
 'Amount_invested_monthly',
 'Monthly_Balance']

In [102]:
df = iqr_outlier_treatment(df, numeric_columns)

In [103]:
df.orderBy("Customer_ID").show()

+-----------+--------+----+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+
|Customer_ID|   Month| Age|Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|Monthly_Balance|Credit_Score|
+-----------+--------+----+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+
|       1006|     May|  38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  NULL|               10.66|                   8|  Standard|         1941.73|                 38.7553|               186|                  Yes|            27.4421|                51.7262|Low_spent_Large_v...|       323.9665|        Poor|
|       1006|February|  38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|       NULL|Credit-Builder Lo...|                 48|                  12.0|               10.66|                   8|  Standard|         1941.73|                 34.7122|               183|                  Yes|            27.4421|                90.0784|Low_spent_Medium_...|       295.6143|        Poor|
|       1006|  August|  38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  12.0|               10.66|                   8|  Standard|         1941.73|                 25.8125|               189|                  Yes|               NULL|                66.7182|Low_spent_Small_v...|       328.9745|        Poor|
|       1006|   April|NULL|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  13.0|               10.66|                   8|  Standard|         1941.73|                 33.7256|               185|                  Yes|            27.4421|                 56.495|High_spent_Small_...|       309.1978|        Poor|
|       1006| January|  37|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  NULL|               10.66|                NULL|  Standard|         1941.73|                 37.5011|               182|                  Yes|            27.4421|                45.3011|High_spent_Medium...|       310.3917|        Poor|
|       1006|    June|  38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  12.0|               10.66|                   8|          |         1941.73|                 27.1975|               187|                  Yes|            27.4421|                60.8283|                    |       334.8645|        Poor|
|       1006|    July|  38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  11.0|               10.66|                   8|  Standard|         1941.73|                 23.9244|               188|                  Yes|            27.4421|                95.6486|Low_spent_Large_v...|       280.0441|        Poor|
|       1006|   March|  38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  12.0|               10.66|                   8|  Standard|         1941.73|                 32.1905|               184|                  Yes|            27.4421|                61.7327|Low_spent_Small_v...|         333.96|        Poor|
|       1007|    June|  48|   Manager|     21212.91|            1496.7426|                3|              4|         10.0|          3|Home Equity Loan,...|                 19|                  21.0|                2.13|                   1|  Standard|          993.15|                 35.5584|              NULL|                   No|            45.7457|                   NULL|                    |       239.4648|    Standard|
|       1007|    July|  48|   Manager|     21212.91|            1496.7426|                3|              4|         10.0|          3|Home Equity Loan,...|                 19|                  20.0|                5.13|                   1|          |          993.15|                 40.6332|               352|                   No|            45.7457|                 59.309|Low_spent_Small_v...|       334.6196|    Standard|
|       1007|  August|  48|   Manager|     21212.91|            1496.7426|                3|           NULL|         10.0|          3|Home Equity Loan,...|                 16|                  19.0|                5.13|                   1|  Standard|          993.15|                 38.9119|              NULL|                   No|            45.7457|               118.5424|Low_spent_Small_v...|       275.3861|        Poor|
|       1007| January|  48|   Manager|     21212.91|            1496.7426|                3|              4|         10.0|          3|Home Equity Loan,...|                 19|                  19.0|               12.13|                   1|          |          993.15|                  35.269|               346|                   No|            45.7457|                30.3735|High_spent_Medium...|       323.5551|    Standard|
|       1007|     May|  48|   Manager|     21212.91|                 NULL|                3|              4|         10.0|       NULL|Home Equity Loan,...|                 19|                  NULL|                5.13|                NULL|          |          993.15|                 35.0043|               350|                   No|            45.7457|               148.3096|Low_spent_Small_v...|        245.619|    Standard|
|       1007|   March|  48|   Manager|     21212.91|            1496.7426|                3|              4|         10.0|          3|Home Equity Loan,...|                 19|                  19.0|                5.13|                   1|  Standard|          993.15|                 30.0026|               348|                   No|            45.7457|                   NULL|Low_spent_Small_v...|       265.4875|    Standard|
|       1007|   April|  48|   Manager|     21212.91|            1496.7426|             NULL|              4|         10.0|          3|Home Equity Loan,...|                 19|                  19.0|                5.13|                   1|  Standard|          993.15|                  37.475|               349|                   No|            45.7457|                62.8125|High_spent_Medium...|       291.1161|    Standard|
|       1007|February|  48|   Manager|     21212.91|            1496.7426|                3|              4|         10.0|          3|Home Equity Loan,...|                 19|                  19.0|                5.13|                   1|  Standard|          993.15|                 37.6556|               347|                   No|            45.7457|                  44.32|High_spent_Medium...|       309.6086|    Standard|
|       1008|February|  37| Developer|     33540.43|             2655.036|                6|              3|         17.0|          0|                NULL|                 28|                  11.0|               14.11|                  10|  Standard|         1138.97|                 28.3447|               293|                  Yes|                0.0|                   NULL|Low_spent_Large_v...|       350.3935|    Standard|
|       1008|   April|  37| Developer|     33540.43|             2655.036|                6|              3|         17.0|          0|                NULL|                 26|                  NULL|               14.11|                  10|          |         1138.97|                 28.3291|              NULL|                     |                0.0|                170.869|High_spent_Small_...|       354.6346|    Standard|
|       1008|    July|  37| Developer|     33540.43|             2655.036|                6|              3|         17.0|          0|                NULL|                 26|                  11.0|               14.11|                  10|  Standard|         1138.97|                 32.7251|               298|                  Yes|                0.0|               197.8504|Low_spent_Large_v...|       337.6532|    Standard|
|       1008|  August|  37| Developer|     33540.43|             2655.036|                6|              3|         17.0|          0|                NULL|                 26|                  13.0|               14.11|                  10|  Standard|         1138.97|                 23.6839|               299|                  Yes|                0.0|               165.2044|Low_spent_Large_v...|       370.2991|    Standard|
+-----------+--------+----+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+
only showing top 20 rows

## Age (cleaning)

There are a lot of ages that do not make sense.

We need to ensure that every client records has the same age or a diference of 1.

In [104]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# 1) Calculate mode (most common val by customer)
age_mode_df = (df.groupBy('Customer_ID', 'Age')
               .count()
               .withColumn('max_count', F.max('count').over(Window.partitionBy('Customer_ID')))
               .where(F.col('count') == F.col('max_count'))
               .drop('count', 'max_count')
               .withColumnRenamed('Age', 'Most_Common_Age'))

age_mode_df.show(10)

+-----------+---------------+
|Customer_ID|Most_Common_Age|
+-----------+---------------+
|       1006|             38|
|       1007|             48|
|       1008|             37|
|       1009|             22|
|       1011|             44|
|       1013|             30|
|       1014|             55|
|       1015|             25|
|       1017|             27|
|       1019|             30|
+-----------+---------------+
only showing top 10 rows

In [105]:
# # 2) Calc difference between ages and most common
df = df.join(age_mode_df, 'Customer_ID', 'left')
df = df.withColumn('age_difference', F.abs(F.col('Age') - F.col('Most_Common_Age')))

df.show()

+-----------+--------+---+-------------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+---------------+--------------+
|Customer_ID|   Month|Age|   Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|Monthly_Balance|Credit_Score|Most_Common_Age|age_difference|
+-----------+--------+---+-------------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+---------------+--------------+
|       6159| January| 29|    Scientist|     30028.29|            2286.3574|                3|              6|         10.0|          4|Personal Loan, St...|                 15|                  20.0|               17.65|                   8|  Standard|         1410.84|                 34.0156|                80|                  Yes|            76.3204|               192.5217|Low_spent_Large_v...|       229.7936|    Standard|             29|             0|
|      42577|February| 26|    Developer|     73802.24|            5971.1865|                8|             10|         17.0|          8|Debt Consolidatio...|                 47|                  18.0|               17.61|                   6|       Bad|         3626.94|                  37.803|                71|                  Yes|           487.3028|                40.2993|High_spent_Large_...|       309.5166|        Poor|             26|             0|
|      12073|   April| 15|      Teacher|     58306.26|             4750.855|                6|              5|         25.0|          3|Credit-Builder Lo...|                 28|                   7.0|                9.49|                  11|  Standard|         1628.95|                 29.4736|               182|                     |           101.0695|               256.4764|Low_spent_Medium_...|       397.5396|        Poor|             15|             0|
|      27460|     May| 39|    Developer|     20742.46|            1801.5383|                5|              4|          8.0|          5|Home Equity Loan,...|                 14|                  21.0|                16.0|                   8|  Standard|         1319.87|                 31.2792|               198|                  Yes|            60.0661|                   NULL|Low_spent_Small_v...|       316.0947|    Standard|             39|             0|
|      26985|   March| 55|       Writer|     124623.9|            10305.325|                5|              2|         10.0|          4|Mortgage Loan, Mo...|                  4|                  12.0|                5.76|                   2|      Good|         1039.13|                 39.6102|               310|                   No|           321.0803|               319.5629|High_spent_Medium...|       639.8894|        Good|             55|             0|
|      26985|   March| 55|       Writer|     124623.9|            10305.325|                5|              2|         10.0|          4|Mortgage Loan, Mo...|                  4|                  12.0|                5.76|                   2|      Good|         1039.13|                 39.6102|               310|                   No|           321.0803|               319.5629|High_spent_Medium...|       639.8894|        Good|             56|             1|
|       2649|    July| 37|   Journalist|     20961.27|            1833.7725|               11|             11|         16.0|          3|Home Equity Loan,...|                 39|                  18.0|                7.12|                NULL|  Standard|         1917.28|                 36.5145|               197|                     |             43.215|                71.4385|High_spent_Medium...|       318.7237|        Poor|             37|             0|
|      20214|   April| 39|    Scientist|     31372.54|            2741.3784|                8|              6|         28.0|          7|Auto Loan, Debt C...|                 18|                  15.0|               18.82|                  11|       Bad|         3231.08|                 26.6435|                25|                  Yes|           121.9598|                   NULL|High_spent_Medium...|        309.897|    Standard|             39|             0|
|      37397| January| 32|Media_Manager|     36196.52|            3201.3767|                8|              7|         33.0|          5|Payday Loan, Stud...|                 45|                  20.0|               21.53|                  12|       Bad|         4730.21|                 27.7222|               152|                  Yes|           108.5759|                87.4147|Low_spent_Medium_...|       404.1471|    Standard|             32|             0|
|       5968|   April| 37|      Teacher|     10021.72|             548.1433|                7|              8|         32.0|          7|Home Equity Loan,...|                 22|                  18.0|                8.97|                  12|       Bad|         2150.61|                 28.9429|                66|                  Yes|            46.9865|                 25.195|Low_spent_Medium_...|       262.6328|        Poor|             37|             0|
|      38237|   April| 18|    Scientist|      9536.42|             769.7017|                7|              5|         26.0|          6|Personal Loan, St...|                 27|                  19.0|                5.26|                  15|       Bad|         1298.56|                 31.5486|               238|                  Yes|            37.0934|                27.8434|                    |       292.0334|        Poor|             18|             0|
|      49486|February| 31|     Engineer|     42578.46|             3811.205|               10|              7|         34.0|          5|Debt Consolidatio...|                 27|                  18.0|               22.22|                   8|       Bad|         3538.34|                 30.1147|                 6|                  Yes|           109.6764|                   NULL|High_spent_Small_...|        303.699|        Poor|             31|             0|
|      40362|   April| 51| Entrepreneur|     36137.59|            2876.4658|                3|              4|          2.0|          4|Debt Consolidatio...|                  6|                   0.0|                7.21|                   2|      Good|         1261.71|                 23.1909|               329|                   No|            73.1408|                38.4252|High_spent_Large_...|       416.0805|        Good|             51|             0|
|       4499| January| 45|    Developer|     31877.72|            2571.4768|                3|              6|         20.0|          1| Credit-Builder Loan|                 28|                  16.0|                1.46|                   2|  Standard|          886.59|                 36.0235|              NULL|                   No|            21.7944|                89.7186|Low_spent_Medium_...|       425.6347|    Standard|             46|             1|
|      35601|    June| 23| Entrepreneur|    12837.245|                 NULL|                8|              4|         10.0|          3|Personal Loan, Pa...|                 11|                  11.0|                4.34|                   0|  Standard|         1222.28|                 24.4745|               340|                   No|            21.2433|                43.1339|Low_spent_Large_v...|       289.3998|    Standard|             23|             0|
|      28268|    July| 26|Media_Manager|     59458.29|            4692.8574|                8|              5|         13.0|          1|       Personal Loan|                 27|                  20.0|                6.62|                   1|  Standard|         1114.52|                  39.197|               233|                  Yes|             26.333|                51.7036|High_spent_Large_...|       631.2492|    Standard|             26|             0|
|       8641|     May| 53|    Architect|    107280.66|             8671.055|             NULL|              5|         10.0|          1|         Payday Loan|                 30|                  13.0|               13.23|                   4|  Standard|         1028.07|                 36.4534|              NULL|                  Yes|            51.4764|               177.3554|High_spent_Large_...|       878.2738|    Standard|             53|             0|
|      34387|February| 38|   Accountant|     14958.54|             1192.545|                6|             10|         18.0|          7|Debt Consolidatio...|                 41|                  NULL|               17.88|                   8|  Standard|         1746.06|                 31.8223|              NULL|                  Yes|            71.1732|                   42.0|                    |       296.0813|        Poor|             38|             0|
|      48088|   March| 21|   Accountant|     88275.18|             7607.265|                8|              4|          7.0|          2|Not Specified, an...|                 14|                   7.0|               18.42|                   6|  Standard|          141.75|                  32.497|               282|                  Yes|           140.5728|               385.8087|Low_spent_Large_v...|        504.345|    Standard|             21|             0|
|       2305|    June| 39|    Architect|     19041.48|              1883.79|                7|              7|         16.0|          7|Home Equity Loan,...|                 50|                  NULL|                6.64|                  11|       Bad|         1819.24|                 25.4828|                93|                  Yes|            83.1881|                35.1758|High_spent_Large_...|       310.0151|    Standard|             39|             0|
+-----------+--------+---+-------------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+---------------+--------------+
only showing top 20 rows

In [106]:
df.orderBy("Customer_ID").show(10)

+-----------+--------+----+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+---------------+--------------+
|Customer_ID|   Month| Age|Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|Monthly_Balance|Credit_Score|Most_Common_Age|age_difference|
+-----------+--------+----+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+---------------+--------------+
|       1006|  August|  38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  12.0|               10.66|                   8|  Standard|         1941.73|                 25.8125|               189|                  Yes|               NULL|                66.7182|Low_spent_Small_v...|       328.9745|        Poor|             38|             0|
|       1006|February|  38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|       NULL|Credit-Builder Lo...|                 48|                  12.0|               10.66|                   8|  Standard|         1941.73|                 34.7122|               183|                  Yes|            27.4421|                90.0784|Low_spent_Medium_...|       295.6143|        Poor|             38|             0|
|       1006|   April|NULL|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  13.0|               10.66|                   8|  Standard|         1941.73|                 33.7256|               185|                  Yes|            27.4421|                 56.495|High_spent_Small_...|       309.1978|        Poor|             38|          NULL|
|       1006|     May|  38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  NULL|               10.66|                   8|  Standard|         1941.73|                 38.7553|               186|                  Yes|            27.4421|                51.7262|Low_spent_Large_v...|       323.9665|        Poor|             38|             0|
|       1006|    July|  38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  11.0|               10.66|                   8|  Standard|         1941.73|                 23.9244|               188|                  Yes|            27.4421|                95.6486|Low_spent_Large_v...|       280.0441|        Poor|             38|             0|
|       1006| January|  37|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  NULL|               10.66|                NULL|  Standard|         1941.73|                 37.5011|               182|                  Yes|            27.4421|                45.3011|High_spent_Medium...|       310.3917|        Poor|             38|             1|
|       1006|    June|  38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  12.0|               10.66|                   8|          |         1941.73|                 27.1975|               187|                  Yes|            27.4421|                60.8283|                    |       334.8645|        Poor|             38|             0|
|       1006|   March|  38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  12.0|               10.66|                   8|  Standard|         1941.73|                 32.1905|               184|                  Yes|            27.4421|                61.7327|Low_spent_Small_v...|         333.96|        Poor|             38|             0|
|       1007|    July|  48|   Manager|     21212.91|            1496.7426|                3|              4|         10.0|          3|Home Equity Loan,...|                 19|                  20.0|                5.13|                   1|          |          993.15|                 40.6332|               352|                   No|            45.7457|                 59.309|Low_spent_Small_v...|       334.6196|    Standard|             48|             0|
|       1007|    June|  48|   Manager|     21212.91|            1496.7426|                3|              4|         10.0|          3|Home Equity Loan,...|                 19|                  21.0|                2.13|                   1|  Standard|          993.15|                 35.5584|              NULL|                   No|            45.7457|                   NULL|                    |       239.4648|    Standard|             48|             0|
+-----------+--------+----+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+---------------+--------------+
only showing top 10 rows

In [107]:
# 3) Identify and replace outliers (more than 1 year diff)
df = df.withColumn('Age', F.when((df['age_difference'] > 1) | df['Age'].isNull(), df['Most_Common_Age']).otherwise(df['Age']))

In [108]:
df.orderBy("Customer_ID").show(10)

+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+---------------+--------------+
|Customer_ID|   Month|Age|Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|Monthly_Balance|Credit_Score|Most_Common_Age|age_difference|
+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+---------------+--------------+
|       1006|     May| 38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  NULL|               10.66|                   8|  Standard|         1941.73|                 38.7553|               186|                  Yes|            27.4421|                51.7262|Low_spent_Large_v...|       323.9665|        Poor|             38|             0|
|       1006|   April| 38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  13.0|               10.66|                   8|  Standard|         1941.73|                 33.7256|               185|                  Yes|            27.4421|                 56.495|High_spent_Small_...|       309.1978|        Poor|             38|          NULL|
|       1006|  August| 38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  12.0|               10.66|                   8|  Standard|         1941.73|                 25.8125|               189|                  Yes|               NULL|                66.7182|Low_spent_Small_v...|       328.9745|        Poor|             38|             0|
|       1006|    July| 38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  11.0|               10.66|                   8|  Standard|         1941.73|                 23.9244|               188|                  Yes|            27.4421|                95.6486|Low_spent_Large_v...|       280.0441|        Poor|             38|             0|
|       1006|February| 38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|       NULL|Credit-Builder Lo...|                 48|                  12.0|               10.66|                   8|  Standard|         1941.73|                 34.7122|               183|                  Yes|            27.4421|                90.0784|Low_spent_Medium_...|       295.6143|        Poor|             38|             0|
|       1006| January| 37|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  NULL|               10.66|                NULL|  Standard|         1941.73|                 37.5011|               182|                  Yes|            27.4421|                45.3011|High_spent_Medium...|       310.3917|        Poor|             38|             1|
|       1006|    June| 38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  12.0|               10.66|                   8|          |         1941.73|                 27.1975|               187|                  Yes|            27.4421|                60.8283|                    |       334.8645|        Poor|             38|             0|
|       1006|   March| 38|Journalist|     16756.18|            1331.3483|                9|              6|         22.0|          2|Credit-Builder Lo...|                 48|                  12.0|               10.66|                   8|  Standard|         1941.73|                 32.1905|               184|                  Yes|            27.4421|                61.7327|Low_spent_Small_v...|         333.96|        Poor|             38|             0|
|       1007|   March| 48|   Manager|     21212.91|            1496.7426|                3|              4|         10.0|          3|Home Equity Loan,...|                 19|                  19.0|                5.13|                   1|  Standard|          993.15|                 30.0026|               348|                   No|            45.7457|                   NULL|Low_spent_Small_v...|       265.4875|    Standard|             48|             0|
|       1007| January| 48|   Manager|     21212.91|            1496.7426|                3|              4|         10.0|          3|Home Equity Loan,...|                 19|                  19.0|               12.13|                   1|          |          993.15|                  35.269|               346|                   No|            45.7457|                30.3735|High_spent_Medium...|       323.5551|    Standard|             48|             0|
+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+---------------+--------------+
only showing top 10 rows

In [109]:
# Drop aux cols
df = df.drop('Most_Common_Age', 'age_difference')

df.orderBy("Customer_ID").show(truncate=False)

+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------------------+---------------+------------+
|Customer_ID|Month   |Age|Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|Type_of_Loan                                     |Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|Payment_Behaviour               |Monthly_Balance|Credit_Score|
+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------------------+---------------+------------+
|1006       |August  |38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |Standard  |1941.73         |25.8125                 |189               |Yes                  |NULL               |66.7182                |Low_spent_Small_value_payments  |328.9745       |Poor        |
|1006       |April   |38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |13.0                  |10.66               |8                   |Standard  |1941.73         |33.7256                 |185               |Yes                  |27.4421            |56.495                 |High_spent_Small_value_payments |309.1978       |Poor        |
|1006       |May     |38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |NULL                  |10.66               |8                   |Standard  |1941.73         |38.7553                 |186               |Yes                  |27.4421            |51.7262                |Low_spent_Large_value_payments  |323.9665       |Poor        |
|1006       |July    |38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |11.0                  |10.66               |8                   |Standard  |1941.73         |23.9244                 |188               |Yes                  |27.4421            |95.6486                |Low_spent_Large_value_payments  |280.0441       |Poor        |
|1006       |February|38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |NULL       |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |Standard  |1941.73         |34.7122                 |183               |Yes                  |27.4421            |90.0784                |Low_spent_Medium_value_payments |295.6143       |Poor        |
|1006       |June    |38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |          |1941.73         |27.1975                 |187               |Yes                  |27.4421            |60.8283                |                                |334.8645       |Poor        |
|1006       |January |37 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |NULL                  |10.66               |NULL                |Standard  |1941.73         |37.5011                 |182               |Yes                  |27.4421            |45.3011                |High_spent_Medium_value_payments|310.3917       |Poor        |
|1006       |March   |38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |Standard  |1941.73         |32.1905                 |184               |Yes                  |27.4421            |61.7327                |Low_spent_Small_value_payments  |333.96         |Poor        |
|1007       |March   |48 |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |5.13                |1                   |Standard  |993.15          |30.0026                 |348               |No                   |45.7457            |NULL                   |Low_spent_Small_value_payments  |265.4875       |Standard    |
|1007       |June    |48 |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |21.0                  |2.13                |1                   |Standard  |993.15          |35.5584                 |NULL              |No                   |45.7457            |NULL                   |                                |239.4648       |Standard    |
|1007       |February|48 |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |5.13                |1                   |Standard  |993.15          |37.6556                 |347               |No                   |45.7457            |44.32                  |High_spent_Medium_value_payments|309.6086       |Standard    |
|1007       |April   |48 |Manager   |21212.91     |1496.7426            |NULL             |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |5.13                |1                   |Standard  |993.15          |37.475                  |349               |No                   |45.7457            |62.8125                |High_spent_Medium_value_payments|291.1161       |Standard    |
|1007       |July    |48 |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |20.0                  |5.13                |1                   |          |993.15          |40.6332                 |352               |No                   |45.7457            |59.309                 |Low_spent_Small_value_payments  |334.6196       |Standard    |
|1007       |August  |48 |Manager   |21212.91     |1496.7426            |3                |NULL           |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|16                 |19.0                  |5.13                |1                   |Standard  |993.15          |38.9119                 |NULL              |No                   |45.7457            |118.5424               |Low_spent_Small_value_payments  |275.3861       |Poor        |
|1007       |January |48 |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |12.13               |1                   |          |993.15          |35.269                  |346               |No                   |45.7457            |30.3735                |High_spent_Medium_value_payments|323.5551       |Standard    |
|1007       |May     |48 |Manager   |21212.91     |NULL                 |3                |4              |10.0         |NULL       |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |NULL                  |5.13                |NULL                |          |993.15          |35.0043                 |350               |No                   |45.7457            |148.3096               |Low_spent_Small_value_payments  |245.619        |Standard    |
|1008       |February|37 |Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |28                 |11.0                  |14.11               |10                  |Standard  |1138.97         |28.3447                 |293               |Yes                  |0.0                |NULL                   |Low_spent_Large_value_payments  |350.3935       |Standard    |
|1008       |March   |37 |Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |22                 |11.0                  |14.11               |10                  |Standard  |1138.97         |33.2652                 |294               |Yes                  |0.0                |337.1997               |Low_spent_Small_value_payments  |218.3038       |Standard    |
|1008       |July    |37 |Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |26                 |11.0                  |14.11               |10                  |Standard  |1138.97         |32.7251                 |298               |Yes                  |0.0                |197.8504               |Low_spent_Large_value_payments  |337.6532       |Standard    |
|1008       |April   |37 |Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |26                 |NULL                  |14.11               |10                  |          |1138.97         |28.3291                 |NULL              |                     |0.0                |170.869                |High_spent_Small_value_payments |354.6346       |Standard    |
+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------------------+---------------+------------+
only showing top 20 rows

## Save Final Dataframe/Dataset

This will be the initial dataset used to train our models (before the pipeline)

In [110]:
df = df.repartition(16)
df.write.mode("overwrite").orc(final_dataset_path)

# Process columns (inside pipeline)

In this section, we will prepare the pipeline to be used in the next step (models)

The pipeline will start with the last save Dataframe, as will the models step.

## Type of Loans (Pipeline)

Type_of_loan is a complex column that need to be processed into several cols

In [111]:
check_distinc_values(df, "Type_of_loan", truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------+
|Type_of_loan                                                                                                                                        |
+----------------------------------------------------------------------------------------------------------------------------------------------------+
|Not Specified, Personal Loan, and Debt Consolidation Loan                                                                                           |
|Auto Loan, Payday Loan, Student Loan, and Credit-Builder Loan                                                                                       |
|Personal Loan, Personal Loan, Credit-Builder Loan, Student Loan, and Auto Loan                                                                      |
|Personal Loan, Home Equity Loan, Home Equity Loan, Mortgage Loan, Personal Loan, Student Loan, Credit-Builder Loan, Mortgage Loan, and Mortgage Loan|
|Debt Consolidation Loan, Debt Consolidation Loan, Personal Loan, Payday Loan, and Not Specified                                                     |
|Student Loan, Payday Loan, Credit-Builder Loan, Home Equity Loan, Personal Loan, Credit-Builder Loan, and Student Loan                              |
|Payday Loan, Credit-Builder Loan, and Credit-Builder Loan                                                                                           |
|Debt Consolidation Loan, Student Loan, Payday Loan, Not Specified, and Auto Loan                                                                    |
|Debt Consolidation Loan, Personal Loan, Home Equity Loan, Home Equity Loan, Not Specified, Mortgage Loan, and Payday Loan                           |
|Payday Loan, Personal Loan, Mortgage Loan, and Auto Loan                                                                                            |
|Personal Loan, Debt Consolidation Loan, Personal Loan, Home Equity Loan, and Debt Consolidation Loan                                                |
|Personal Loan, Not Specified, Not Specified, Student Loan, Auto Loan, Home Equity Loan, Student Loan, and Student Loan                              |
|Payday Loan, Payday Loan, Payday Loan, and Debt Consolidation Loan                                                                                  |
|Credit-Builder Loan, Not Specified, Credit-Builder Loan, and Student Loan                                                                           |
|Mortgage Loan, Debt Consolidation Loan, Personal Loan, Auto Loan, and Debt Consolidation Loan                                                       |
|Personal Loan, Not Specified, Student Loan, and Mortgage Loan                                                                                       |
|Credit-Builder Loan, Student Loan, and Home Equity Loan                                                                                             |
|Personal Loan, and Mortgage Loan                                                                                                                    |
|Home Equity Loan, Personal Loan, Mortgage Loan, and Mortgage Loan                                                                                   |
|Not Specified, Debt Consolidation Loan, and Auto Loan                                                                                               |
+----------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [112]:
all_loan_types = ["credit-builder loan", "not specified", "mortgage loan", "auto loan", "student loan",
                  "home equity loan", "personal loan", "payday loan", "debt consolidation loan"]

In [113]:
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCol, HasOutputCol
import pyspark.sql.functions as F
from pyspark.ml.util import DefaultParamsReadable, DefaultParamsWritable


# https://stackoverflow.com/questions/32331848/create-a-custom-transformer-in-pyspark-ml
class OneHotLoanType(Transformer, HasInputCol, HasOutputCol, DefaultParamsReadable, DefaultParamsWritable):
    """
    A custom Transformer that converts 'Type_of_loan' into one-hot encoded columns.
    """
    def __init__(self, inputCol="Type_of_loan", outputCol="loan_type_vector", loanTypes=[]):
        super(OneHotLoanType, self).__init__()
        self.setInputCol(inputCol)
        self.setOutputCol(outputCol)
        self.loanTypes = loanTypes
    
    def setInputCol(self, value):
        """
        Sets the value of :py:attr:`inputCol`.
        """
        return self._set(inputCol=value)
    
    def setOutputCol(self, value):
        """
        Sets the value of :py:attr:`outputCol`.
        """
        return self._set(outputCol=value)

    def _transform(self, df):
        inputCol = self.getInputCol()
        clean_input_field = F.regexp_replace(F.lower(F.col(inputCol)), " and ", " ")
        
        for loan_type in self.loanTypes:
            df = df.withColumn(loan_type, F.array_contains(F.split(clean_input_field, ", "), loan_type).cast("int"))
            df = df.withColumn(loan_type, F.coalesce(F.col(loan_type), F.lit(0)))
            df = df.withColumnRenamed(loan_type, loan_type.replace(" ", "_").replace("-", "_"))

        return df

In [114]:
one_hot_loan_type = OneHotLoanType(inputCol="Type_of_loan", outputCol="loan_type_vector", loanTypes=all_loan_types)

pipeline_steps += [one_hot_loan_type]

print("Pipeline Steps:")
pipeline_steps

Pipeline Steps:

[OneHotLoanType_240f364623ce]

## Month (Pipeline)

In [115]:
check_missing_values(df, "Month")
check_distinc_values(df, "Month")

Number of missing values in column 'Month': 0
+--------+
|   Month|
+--------+
|    July|
|February|
| January|
|   March|
|     May|
|  August|
|   April|
|    June|
+--------+

In [116]:
# Set SQL Transformer query month -> month_num
sql_statement = f"""SELECT *,
                    CASE Month
                        WHEN 'January' THEN 1
                        WHEN 'February' THEN 2
                        WHEN 'March' THEN 3
                        WHEN 'April' THEN 4
                        WHEN 'May' THEN 5
                        WHEN 'June' THEN 6
                        WHEN 'July' THEN 7
                        WHEN 'August' THEN 8
                        WHEN 'September' THEN 9
                        WHEN 'October' THEN 10
                        WHEN 'November' THEN 11
                        WHEN 'December' THEN 12
                        ELSE 0
                    END as Month_num FROM __THIS__;
                    """
pipeline_steps += [SQLTransformer(statement=sql_statement)]

print("Pipeline Steps:")
pipeline_steps

Pipeline Steps:

[OneHotLoanType_240f364623ce, SQLTransformer_bf1a65c74c3b]

## Populate missing categorical (Pipeline)

In [117]:
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCols, Param, Params, TypeConverters
import pyspark.sql.functions as F

class FillMissingCategorical(Transformer, HasInputCols, Params, DefaultParamsReadable, DefaultParamsWritable):
    def __init__(self, inputCol=None, fillValue="NA"):
        super(FillMissingCategorical, self).__init__()
        self.inputCol = Param(self, "inputCol", "")
        self.fillValue = Param(self, "fillValue", "")
        self._setDefault(inputCol=inputCol, fillValue=fillValue)
        
    def setInputCol(self, value):
        return self._set(inputCol=value)
    
    def setFillValue(self, value):
        return self._set(fillValue=value)
    
    def _transform(self, df):
        fill_value = self.getOrDefault(self.fillValue)
        target_col = self.getOrDefault(self.inputCol)
        
        df = df.withColumn(target_col, F.when((F.col(target_col).isNull()) | (F.col(target_col) == ""), F.lit(fill_value)).otherwise(F.col(target_col)))

        return df

In [118]:
default_fill_value = "NA"

# Indexers with no order. Needs one_hot encode
fill_missing_and_string_indexer = ["Occupation", "Credit_Mix", "Payment_Behaviour", "Payment_of_Min_Amount"]

for categoricalCol in fill_missing_and_string_indexer:
    fill_missing = FillMissingCategorical(inputCol=categoricalCol, fillValue=default_fill_value) # Error in the indexer if missing values
    string_indexer = StringIndexer(inputCol=categoricalCol, outputCol=categoricalCol + "_indexed", handleInvalid='keep') # deal with unseen values
    encoder = OneHotEncoder(inputCols=[string_indexer.getOutputCol()], outputCols=[categoricalCol + "_oneHot"])
    pipeline_steps += [fill_missing, string_indexer, encoder]
    # pipeline_steps += [string_indexer, encoder]

print("Pipeline Steps:")
pipeline_steps

Pipeline Steps:

[OneHotLoanType_240f364623ce,
 SQLTransformer_bf1a65c74c3b,
 FillMissingCategorical_db19d6bea5b1,
 StringIndexer_23a5662e3390,
 OneHotEncoder_42ba01d3697f,
 FillMissingCategorical_9fda294c4025,
 StringIndexer_d02b3207599c,
 OneHotEncoder_87589e059d9a,
 FillMissingCategorical_d9ac17981d2c,
 StringIndexer_b2a70d5848d7,
 OneHotEncoder_56378ce551b3,
 FillMissingCategorical_1fdc1d84f679,
 StringIndexer_ad3380a95f3f,
 OneHotEncoder_42a543ae10b2]

## Populate missing numerical (Pipeline)

In [119]:
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCols, Param, Params
import pyspark.sql.functions as F

class ZeroFillImputer(Transformer, HasInputCols, Params, DefaultParamsReadable, DefaultParamsWritable):
    def __init__(self, inputCols=None):
        super(ZeroFillImputer, self).__init__()
        self.inputCols = Param(self, "inputCols", "")
        self._setDefault(inputCols=inputCols)
        
    def setInputCols(self, value):
        return self._set(inputCols=value)
    
    def _transform(self, df):
        input_cols = self.getOrDefault(self.inputCols)
        for col in input_cols:
            df = df.withColumn(col, F.coalesce(F.col(col), F.lit(0)))
        return df

In [120]:
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCols, Param, Params
import pyspark.sql.functions as F
from pyspark.sql.window import Window

class ImputerWithCustomerData(Transformer, HasInputCols, Params, DefaultParamsReadable, DefaultParamsWritable):
    def __init__(self, inputCols=None):
        super(ImputerWithCustomerData, self).__init__()
        self.inputCols = Param(self, "inputCols", "")
        self._setDefault(inputCols=inputCols)
        
    def setInputCols(self, value):
        return self._set(inputCols=value)
    
    def _transform(self, df):
        input_cols = self.getOrDefault(self.inputCols)
        
        for col in input_cols:
            # Calculate the global mean for the column
            global_mean = df.select(F.mean(col).alias(f'{col}_global_mean')).collect()[0][f'{col}_global_mean']
            
            # Calculate the mean of values grouped by Customer_ID
            windowSpec  = Window.partitionBy("Customer_ID")
            mean_values = df.withColumn(f"{col}_customer_mean", F.mean(df[col]).over(windowSpec))
            
            # Replace the missing values by the customer mean, if possible, otherwise use the global mean
            df = mean_values.withColumn(col, F.coalesce(F.col(col), F.col(f"{col}_customer_mean"), F.lit(global_mean)))
            
            # Drop the intermediate mean column
            df = df.drop(f"{col}_customer_mean")

            
        return df

In [121]:
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCols, Param, Params
import pyspark.sql.functions as F

class EnsureIntegerType(Transformer, HasInputCols, Params, DefaultParamsReadable, DefaultParamsWritable):
    def __init__(self, inputCols=None):
        super(EnsureIntegerType, self).__init__()
        self.inputCols = Param(self, "inputCols", "")
        self._setDefault(inputCols=inputCols)
        
    def setInputCols(self, value):
        return self._set(inputCols=value)
    
    def _transform(self, df):
        input_cols = self.getOrDefault(self.inputCols)
        for col in input_cols:
            df = df.withColumn(col, F.col(col).cast('int'))
        return df

In [122]:
from pyspark.ml.feature import Imputer

numerical_to_fill = ["Age", "Annual_Income", "Monthly_Inhand_Salary", "Num_Bank_Accounts",
                     "Delay_from_due_date", "Num_of_Delayed_Payment", "Changed_Credit_Limit",
                     "Outstanding_Debt", "Credit_History_Age", "Amount_invested_monthly",
                     "Monthly_Balance", "Num_Credit_Card", "Num_Credit_Inquiries", "Interest_Rate",
                     "Credit_Utilization_Ratio", "Total_EMI_per_month"]

numerical_to_zero_fill = ["Num_of_Loan"]

ensure_int_cols = ['Age', 'Num_Bank_Accounts', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
                   'Credit_History_Age', 'Num_Credit_Card', 'Num_Credit_Inquiries']

# mean_imputer = Imputer(inputCols=numerical_to_fill,  # List the columns to be imputed
#                        outputCols=["{}_imputed".format(c) for c in numerical_to_fill],  # Output column names
#                        strategy='mean'  # Can be "mean", "median", or "mode"
#                        )

mean_imputer = ImputerWithCustomerData(inputCols=numerical_to_fill)

zero_imputer = ZeroFillImputer(inputCols=numerical_to_zero_fill)

ensure_integer_transformer = EnsureIntegerType(inputCols=ensure_int_cols)

pipeline_steps += [mean_imputer]
pipeline_steps += [zero_imputer]
pipeline_steps += [ensure_integer_transformer]

print("Pipeline Steps:")
pipeline_steps

Pipeline Steps:

[OneHotLoanType_240f364623ce,
 SQLTransformer_bf1a65c74c3b,
 FillMissingCategorical_db19d6bea5b1,
 StringIndexer_23a5662e3390,
 OneHotEncoder_42ba01d3697f,
 FillMissingCategorical_9fda294c4025,
 StringIndexer_d02b3207599c,
 OneHotEncoder_87589e059d9a,
 FillMissingCategorical_d9ac17981d2c,
 StringIndexer_b2a70d5848d7,
 OneHotEncoder_56378ce551b3,
 FillMissingCategorical_1fdc1d84f679,
 StringIndexer_ad3380a95f3f,
 OneHotEncoder_42a543ae10b2,
 ImputerWithCustomerData_2ae4d0da2c4f,
 ZeroFillImputer_d60b0d32397f,
 EnsureIntegerType_eb0547c5b4c7]

## Credit Score - Target (Pipeline)

In [123]:
sql_statement = f"""SELECT *,
                    CASE Credit_Score
                        WHEN 'Poor' THEN 0
                        WHEN 'Standard' THEN 1
                        WHEN 'Good' THEN 2
                        ELSE -1
                    END as Credit_score_num FROM __THIS__;
                    """

pipeline_steps += [SQLTransformer(statement=sql_statement)]

print("Pipeline Steps:")
pipeline_steps

Pipeline Steps:

[OneHotLoanType_240f364623ce,
 SQLTransformer_bf1a65c74c3b,
 FillMissingCategorical_db19d6bea5b1,
 StringIndexer_23a5662e3390,
 OneHotEncoder_42ba01d3697f,
 FillMissingCategorical_9fda294c4025,
 StringIndexer_d02b3207599c,
 OneHotEncoder_87589e059d9a,
 FillMissingCategorical_d9ac17981d2c,
 StringIndexer_b2a70d5848d7,
 OneHotEncoder_56378ce551b3,
 FillMissingCategorical_1fdc1d84f679,
 StringIndexer_ad3380a95f3f,
 OneHotEncoder_42a543ae10b2,
 ImputerWithCustomerData_2ae4d0da2c4f,
 ZeroFillImputer_d60b0d32397f,
 EnsureIntegerType_eb0547c5b4c7,
 SQLTransformer_775f00266c6e]

In [124]:
df.orderBy("Customer_ID").show(truncate=False)

+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------------------+---------------+------------+
|Customer_ID|Month   |Age|Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|Type_of_Loan                                     |Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|Payment_Behaviour               |Monthly_Balance|Credit_Score|
+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------------------+---------------+------------+
|1006       |June    |38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |          |1941.73         |27.1975                 |187               |Yes                  |27.4421            |60.8283                |                                |334.8645       |Poor        |
|1006       |April   |38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |13.0                  |10.66               |8                   |Standard  |1941.73         |33.7256                 |185               |Yes                  |27.4421            |56.495                 |High_spent_Small_value_payments |309.1978       |Poor        |
|1006       |May     |38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |NULL                  |10.66               |8                   |Standard  |1941.73         |38.7553                 |186               |Yes                  |27.4421            |51.7262                |Low_spent_Large_value_payments  |323.9665       |Poor        |
|1006       |February|38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |NULL       |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |Standard  |1941.73         |34.7122                 |183               |Yes                  |27.4421            |90.0784                |Low_spent_Medium_value_payments |295.6143       |Poor        |
|1006       |March   |38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |Standard  |1941.73         |32.1905                 |184               |Yes                  |27.4421            |61.7327                |Low_spent_Small_value_payments  |333.96         |Poor        |
|1006       |August  |38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |12.0                  |10.66               |8                   |Standard  |1941.73         |25.8125                 |189               |Yes                  |NULL               |66.7182                |Low_spent_Small_value_payments  |328.9745       |Poor        |
|1006       |January |37 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |NULL                  |10.66               |NULL                |Standard  |1941.73         |37.5011                 |182               |Yes                  |27.4421            |45.3011                |High_spent_Medium_value_payments|310.3917       |Poor        |
|1006       |July    |38 |Journalist|16756.18     |1331.3483            |9                |6              |22.0         |2          |Credit-Builder Loan, and Payday Loan             |48                 |11.0                  |10.66               |8                   |Standard  |1941.73         |23.9244                 |188               |Yes                  |27.4421            |95.6486                |Low_spent_Large_value_payments  |280.0441       |Poor        |
|1007       |February|48 |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |5.13                |1                   |Standard  |993.15          |37.6556                 |347               |No                   |45.7457            |44.32                  |High_spent_Medium_value_payments|309.6086       |Standard    |
|1007       |January |48 |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |12.13               |1                   |          |993.15          |35.269                  |346               |No                   |45.7457            |30.3735                |High_spent_Medium_value_payments|323.5551       |Standard    |
|1007       |April   |48 |Manager   |21212.91     |1496.7426            |NULL             |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |5.13                |1                   |Standard  |993.15          |37.475                  |349               |No                   |45.7457            |62.8125                |High_spent_Medium_value_payments|291.1161       |Standard    |
|1007       |June    |48 |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |21.0                  |2.13                |1                   |Standard  |993.15          |35.5584                 |NULL              |No                   |45.7457            |NULL                   |                                |239.4648       |Standard    |
|1007       |March   |48 |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |19.0                  |5.13                |1                   |Standard  |993.15          |30.0026                 |348               |No                   |45.7457            |NULL                   |Low_spent_Small_value_payments  |265.4875       |Standard    |
|1007       |July    |48 |Manager   |21212.91     |1496.7426            |3                |4              |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |20.0                  |5.13                |1                   |          |993.15          |40.6332                 |352               |No                   |45.7457            |59.309                 |Low_spent_Small_value_payments  |334.6196       |Standard    |
|1007       |August  |48 |Manager   |21212.91     |1496.7426            |3                |NULL           |10.0         |3          |Home Equity Loan, Mortgage Loan, and Student Loan|16                 |19.0                  |5.13                |1                   |Standard  |993.15          |38.9119                 |NULL              |No                   |45.7457            |118.5424               |Low_spent_Small_value_payments  |275.3861       |Poor        |
|1007       |May     |48 |Manager   |21212.91     |NULL                 |3                |4              |10.0         |NULL       |Home Equity Loan, Mortgage Loan, and Student Loan|19                 |NULL                  |5.13                |NULL                |          |993.15          |35.0043                 |350               |No                   |45.7457            |148.3096               |Low_spent_Small_value_payments  |245.619        |Standard    |
|1008       |July    |37 |Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |26                 |11.0                  |14.11               |10                  |Standard  |1138.97         |32.7251                 |298               |Yes                  |0.0                |197.8504               |Low_spent_Large_value_payments  |337.6532       |Standard    |
|1008       |June    |37 |Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |26                 |NULL                  |14.11               |10                  |Standard  |1138.97         |25.1531                 |297               |Yes                  |0.0                |105.4574               |High_spent_Small_value_payments |420.0462       |Standard    |
|1008       |January |37 |Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |25                 |11.0                  |14.11               |6                   |          |1138.97         |27.8162                 |292               |Yes                  |0.0                |118.8807               |High_spent_Small_value_payments |406.6229       |Standard    |
|1008       |August  |37 |Developer |33540.43     |2655.036             |6                |3              |17.0         |0          |NULL                                             |26                 |13.0                  |14.11               |10                  |Standard  |1138.97         |23.6839                 |299               |Yes                  |0.0                |165.2044               |Low_spent_Large_value_payments  |370.2991       |Standard    |
+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------------------+---------------+------------+
only showing top 20 rows

## Asembler

In [125]:
# Columns that we will keep after running the pipeline.
# It contains every relevant feature, including the target var
# Also includes the "features" column
cols_to_keep = ["Month_num",
                "Age",
                "Annual_Income",
                "Monthly_Inhand_Salary",
                "Occupation_oneHot",
                "Num_Bank_Accounts",
                "Num_Credit_Card",
                "Interest_Rate",
                "Delay_from_due_date",
                "Num_of_Delayed_Payment",
                "Changed_Credit_Limit",
                "Num_Credit_Inquiries",
                "Outstanding_Debt",
                "Credit_Utilization_Ratio",
                "Credit_History_Age",
                "Total_EMI_per_month",
                "Amount_invested_monthly",
                "Monthly_Balance",
                "Credit_Mix_oneHot",
                "Num_of_Loan",
                "debt_consolidation_loan",
                "personal_loan",
                "payday_loan",
                "mortgage_loan",
                "credit_builder_loan",
                "auto_loan",
                "home_equity_loan",
                "student_loan",
                "not_specified",
                "Payment_Behaviour_oneHot",
                "Payment_of_Min_Amount_oneHot",
                "Credit_score_num",
                "features",
                "scaledFeatures"]

# Features used to predict the target var
# Pretty much {cols_to_keep} but without the target var
features = ["Month_num",
            "Age",
            "Annual_Income",
            "Monthly_Inhand_Salary",
            "Occupation_oneHot",
            "Num_Bank_Accounts",
            "Num_Credit_Card",
            "Interest_Rate",
            "Delay_from_due_date",
            "Num_of_Delayed_Payment",
            "Changed_Credit_Limit",
            "Num_Credit_Inquiries",
            "Outstanding_Debt",
            "Credit_Mix_oneHot",
            "Credit_Utilization_Ratio",
            "Credit_History_Age",
            "Total_EMI_per_month",
            "Amount_invested_monthly",
            "Monthly_Balance",
            "Num_of_Loan",
            "debt_consolidation_loan",
            "personal_loan",
            "payday_loan",
            "mortgage_loan",
            "credit_builder_loan",
            "auto_loan",
            "home_equity_loan",
            "student_loan",
            "not_specified",
            "Payment_Behaviour_oneHot",
            "Payment_of_Min_Amount_oneHot"]

In [126]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StandardScaler

assembler = VectorAssembler(inputCols=features,
                            outputCol="features")

scaler = StandardScaler(inputCol="features",
                        outputCol="scaledFeatures",
                        withStd=True, withMean=False)

pipeline_steps += [assembler]
pipeline_steps += [scaler]

# Run Pipeline

Just to test the pipeline. The transformed Dataframe will not be saved

In [127]:
pipeline_steps

[OneHotLoanType_240f364623ce,
 SQLTransformer_bf1a65c74c3b,
 FillMissingCategorical_db19d6bea5b1,
 StringIndexer_23a5662e3390,
 OneHotEncoder_42ba01d3697f,
 FillMissingCategorical_9fda294c4025,
 StringIndexer_d02b3207599c,
 OneHotEncoder_87589e059d9a,
 FillMissingCategorical_d9ac17981d2c,
 StringIndexer_b2a70d5848d7,
 OneHotEncoder_56378ce551b3,
 FillMissingCategorical_1fdc1d84f679,
 StringIndexer_ad3380a95f3f,
 OneHotEncoder_42a543ae10b2,
 ImputerWithCustomerData_2ae4d0da2c4f,
 ZeroFillImputer_d60b0d32397f,
 EnsureIntegerType_eb0547c5b4c7,
 SQLTransformer_775f00266c6e,
 VectorAssembler_34a0d566fa36,
 StandardScaler_2df228480916]

## Run pipeline

In [128]:
pipeline = Pipeline(stages=pipeline_steps)

In [129]:
df.show(1)

+-----------+-----+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+
|Customer_ID|Month|Age|Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|Monthly_Balance|Credit_Score|
+-----------+-----+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+
|       2153|March| 36| Architect|     121256.4|                 NULL|                4|              4|         19.0|          2|Personal Loan, an...|                 14|                  19.0|                4.92|                   2|  Standard|         1012.93|                 39.2476|               370|                   No|           201.7665|                   NULL|Low_spent_Small_v...|       107.9492|    Standard|
+-----------+-----+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+
only showing top 1 row

In [130]:
df.printSchema()

root
 |-- Customer_ID: long (nullable = true)
 |-- Month: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Annual_Income: float (nullable = true)
 |-- Monthly_Inhand_Salary: float (nullable = true)
 |-- Num_Bank_Accounts: integer (nullable = true)
 |-- Num_Credit_Card: integer (nullable = true)
 |-- Interest_Rate: float (nullable = true)
 |-- Num_of_Loan: integer (nullable = true)
 |-- Type_of_Loan: string (nullable = true)
 |-- Delay_from_due_date: integer (nullable = true)
 |-- Num_of_Delayed_Payment: float (nullable = true)
 |-- Changed_Credit_Limit: double (nullable = true)
 |-- Num_Credit_Inquiries: integer (nullable = true)
 |-- Credit_Mix: string (nullable = true)
 |-- Outstanding_Debt: float (nullable = true)
 |-- Credit_Utilization_Ratio: float (nullable = true)
 |-- Credit_History_Age: integer (nullable = true)
 |-- Payment_of_Min_Amount: string (nullable = true)
 |-- Total_EMI_per_month: float (nullable = true)
 |-- Amount_invested_monthly: float (nullable = true)
 |-- Payment_Behaviour: string (nullable = true)
 |-- Monthly_Balance: float (nullable = true)
 |-- Credit_Score: string (nullable = true)

In [131]:
print("Fiting pipeline...")
# Fit
pipe_model = pipeline.fit(df)
pipe_model.save(pipeline_model_path)

Fiting pipeline...

In [132]:
# Transform the data
print("Transforming data...")
transformed_df = pipe_model.transform(df)

Transforming data...

In [133]:
for col in transformed_df.columns:
    if col not in cols_to_keep:
        transformed_df = transformed_df.drop(col)

transformed_df = transformed_df.select(*cols_to_keep)

In [134]:
transformed_df.show(truncate=False)

+---------+---+--------------+---------------------+-----------------+-----------------+---------------+-------------+-------------------+----------------------+--------------------+--------------------+-----------------+------------------------+------------------+-------------------+-----------------------+------------------+-----------------+-----------+-----------------------+-------------+-----------+-------------+-------------------+---------+----------------+------------+-------------+------------------------+----------------------------+----------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Month_num|Age|Annual_Income |Monthly_Inhand_Salary|Occupation_oneHot|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Outstanding_Debt |Credit_Utilization_Ratio|Credit_History_Age|Total_EMI_per_month|Amount_invested_monthly|Monthly_Balance   |Credit_Mix_oneHot|Num_of_Loan|debt_consolidation_loan|personal_loan|payday_loan|mortgage_loan|credit_builder_loan|auto_loan|home_equity_loan|student_loan|not_specified|Payment_Behaviour_oneHot|Payment_of_Min_Amount_oneHot|Credit_score_num|features                                                                                                                                                                                                                                                                                  |scaledFeatures                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
+---------+---+--------------+---------------------+-----------------+-----------------+---------------+-------------+-------------------+----------------------+--------------------+--------------------+-----------------+------------------------+------------------+-------------------+-----------------------+------------------+-----------------+-----------+-----------------------+-------------+-----------+-------------+-------------------+---------+----------------+------------+-------------+------------------------+----------------------------+----------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1        |43 |112287.5078125|9097.29296875        |(16,[1],[1.0])   |3                |5              |5.0          |11                 |5                     |7.84                |4                   |281.2799987792969|37.2849006652832        |227               |167.06410217285156 |343.6820068359375      |648.9832153320312 |(4,[1],[1.0])    |3          |0                      |0            |0          |0            |1                  |1        |0               |0           |1            |(7,[1],[1.0])           |(3,[1],[1.0])               |1               |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,48,55],[1.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,7.84,4.0,281.2799987792969,1.0,37.2849006652832,227.0,167.06410217285156,343.6820068359375,648.9832153320312,3.0,1.0,1.0,1.0,1.0,1.0])        |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,48,55],[0.4364337191630831,3.9998883219282146,2.9339761037783267,2.8558844824821215,3.949630523930537,1.156138396078696,2.4174070780670025,0.5721251365934972,0.7415481586962748,0.7983246090335354,1.1575458772823106,1.0387847577703773,0.24397041991672758,2.3292588457469865,7.282332905348324,2.2782247728328553,1.7321734061354639,2.4800954038298144,3.389135406522135,1.1800459796728746,2.1477191327622345,2.1698837004485556,2.1533826021469338,2.630575606649666,2.088758638771635]) |
|4        |43 |112287.5078125|9097.29296875        |(16,[1],[1.0])   |3                |5              |5.0          |13                 |5                     |3.84                |4                   |281.2799987792969|35.26259994506836       |230               |167.06410217285156 |72.20210266113281      |910.4630737304688 |(4,[1],[1.0])    |3          |0                      |0            |0          |0            |1                  |1        |0               |0           |1            |(7,[6],[1.0])           |(3,[1],[1.0])               |0               |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,53,55],[4.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,13.0,5.0,3.84,4.0,281.2799987792969,1.0,35.26259994506836,230.0,167.06410217285156,72.20210266113281,910.4630737304688,3.0,1.0,1.0,1.0,1.0,1.0])       |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,53,55],[1.7457348766523324,3.9998883219282146,2.9339761037783267,2.8558844824821215,3.949630523930537,1.156138396078696,2.4174070780670025,0.5721251365934972,0.8763750966410521,0.7983246090335354,0.5669612460158255,1.0387847577703773,0.24397041991672758,2.3292588457469865,6.8873454756770185,2.308333470271175,1.7321734061354639,0.5210284489586479,4.75464167117514,1.1800459796728746,2.1477191327622345,2.1698837004485556,2.1533826021469338,3.7735216384739885,2.088758638771635]) |
|1        |43 |112287.5078125|9097.29296875        |(16,[1],[1.0])   |3                |5              |5.0          |11                 |5                     |7.84                |4                   |281.2799987792969|37.2849006652832        |227               |167.06410217285156 |343.6820068359375      |648.9832153320312 |(4,[1],[1.0])    |3          |0                      |0            |0          |0            |1                  |1        |0               |0           |1            |(7,[1],[1.0])           |(3,[1],[1.0])               |1               |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,48,55],[1.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,7.84,4.0,281.2799987792969,1.0,37.2849006652832,227.0,167.06410217285156,343.6820068359375,648.9832153320312,3.0,1.0,1.0,1.0,1.0,1.0])        |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,48,55],[0.4364337191630831,3.9998883219282146,2.9339761037783267,2.8558844824821215,3.949630523930537,1.156138396078696,2.4174070780670025,0.5721251365934972,0.7415481586962748,0.7983246090335354,1.1575458772823106,1.0387847577703773,0.24397041991672758,2.3292588457469865,7.282332905348324,2.2782247728328553,1.7321734061354639,2.4800954038298144,3.389135406522135,1.1800459796728746,2.1477191327622345,2.1698837004485556,2.1533826021469338,2.630575606649666,2.088758638771635]) |
|4        |43 |112287.5078125|9097.29296875        |(16,[1],[1.0])   |3                |5              |5.0          |13                 |5                     |3.84                |4                   |281.2799987792969|35.26259994506836       |230               |167.06410217285156 |72.20210266113281      |910.4630737304688 |(4,[1],[1.0])    |3          |0                      |0            |0          |0            |1                  |1        |0               |0           |1            |(7,[6],[1.0])           |(3,[1],[1.0])               |0               |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,53,55],[4.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,13.0,5.0,3.84,4.0,281.2799987792969,1.0,35.26259994506836,230.0,167.06410217285156,72.20210266113281,910.4630737304688,3.0,1.0,1.0,1.0,1.0,1.0])       |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,53,55],[1.7457348766523324,3.9998883219282146,2.9339761037783267,2.8558844824821215,3.949630523930537,1.156138396078696,2.4174070780670025,0.5721251365934972,0.8763750966410521,0.7983246090335354,0.5669612460158255,1.0387847577703773,0.24397041991672758,2.3292588457469865,6.8873454756770185,2.308333470271175,1.7321734061354639,0.5210284489586479,4.75464167117514,1.1800459796728746,2.1477191327622345,2.1698837004485556,2.1533826021469338,3.7735216384739885,2.088758638771635]) |
|3        |43 |112287.5078125|9097.29296875        |(16,[1],[1.0])   |3                |5              |5.0          |11                 |5                     |3.84                |4                   |281.2799987792969|26.999099731445312      |230               |167.06410217285156 |330.76629638671875     |661.8988037109375 |(4,[2],[1.0])    |0          |0                      |0            |0          |0            |1                  |1        |0               |0           |1            |(7,[1],[1.0])           |(3,[1],[1.0])               |0               |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,42,43,46,48,55],[3.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,3.84,4.0,281.2799987792969,1.0,26.999099731445312,230.0,167.06410217285156,330.76629638671875,661.8988037109375,1.0,1.0,1.0,1.0,1.0])            |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,42,43,46,48,55],[1.3093011574892492,3.9998883219282146,2.9339761037783267,2.8558844824821215,3.949630523930537,1.156138396078696,2.4174070780670025,0.5721251365934972,0.7415481586962748,0.7983246090335354,0.5669612460158255,1.0387847577703773,0.24397041991672758,2.4916337436417435,5.273352721364743,2.308333470271175,1.7321734061354639,2.3868924037158306,3.4565834958361585,2.1477191327622345,2.1698837004485556,2.1533826021469338,2.630575606649666,2.088758638771635])                       |
|3        |43 |112287.5078125|9097.29296875        |(16,[1],[1.0])   |3                |5              |5.0          |11                 |5                     |3.84                |4                   |281.2799987792969|26.999099731445312      |230               |167.06410217285156 |330.76629638671875     |661.8988037109375 |(4,[2],[1.0])    |0          |0                      |0            |0          |0            |1                  |1        |0               |0           |1            |(7,[1],[1.0])           |(3,[1],[1.0])               |0               |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,42,43,46,48,55],[3.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,3.84,4.0,281.2799987792969,1.0,26.999099731445312,230.0,167.06410217285156,330.76629638671875,661.8988037109375,1.0,1.0,1.0,1.0,1.0])            |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,42,43,46,48,55],[1.3093011574892492,3.9998883219282146,2.9339761037783267,2.8558844824821215,3.949630523930537,1.156138396078696,2.4174070780670025,0.5721251365934972,0.7415481586962748,0.7983246090335354,0.5669612460158255,1.0387847577703773,0.24397041991672758,2.4916337436417435,5.273352721364743,2.308333470271175,1.7321734061354639,2.3868924037158306,3.4565834958361585,2.1477191327622345,2.1698837004485556,2.1533826021469338,2.630575606649666,2.088758638771635])                       |
|5        |43 |112287.5078125|9097.29296875        |(16,[1],[1.0])   |3                |5              |5.0          |11                 |5                     |3.84                |4                   |281.2799987792969|28.681100845336914      |231               |167.06410217285156 |375.8684997558594      |616.7965698242188 |(4,[2],[1.0])    |3          |0                      |0            |0          |0            |1                  |1        |0               |0           |1            |(7,[1],[1.0])           |(3,[1],[1.0])               |1               |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,37,42,43,46,48,55],[5.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,3.84,4.0,281.2799987792969,1.0,28.681100845336914,231.0,167.06410217285156,375.8684997558594,616.7965698242188,3.0,1.0,1.0,1.0,1.0,1.0])      |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,37,42,43,46,48,55],[2.1821685958154156,3.9998883219282146,2.9339761037783267,2.8558844824821215,3.949630523930537,1.156138396078696,2.4174070780670025,0.5721251365934972,0.7415481586962748,0.7983246090335354,0.5669612460158255,1.0387847577703773,0.24397041991672758,2.4916337436417435,5.601874236508018,2.3183697027506147,1.7321734061354639,2.712361194788738,3.221049549552946,1.1800459796728746,2.1477191327622345,2.1698837004485556,2.1533826021469338,2.630575606649666,2.088758638771635])  |
|5        |43 |112287.5078125|9097.29296875        |(16,[1],[1.0])   |3                |5              |5.0          |11                 |5                     |3.84                |4                   |281.2799987792969|28.681100845336914      |231               |167.06410217285156 |375.8684997558594      |616.7965698242188 |(4,[2],[1.0])    |3          |0                      |0            |0          |0            |1                  |1        |0               |0           |1            |(7,[1],[1.0])           |(3,[1],[1.0])               |1               |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,37,42,43,46,48,55],[5.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,3.84,4.0,281.2799987792969,1.0,28.681100845336914,231.0,167.06410217285156,375.8684997558594,616.7965698242188,3.0,1.0,1.0,1.0,1.0,1.0])      |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,37,42,43,46,48,55],[2.1821685958154156,3.9998883219282146,2.9339761037783267,2.8558844824821215,3.949630523930537,1.156138396078696,2.4174070780670025,0.5721251365934972,0.7415481586962748,0.7983246090335354,0.5669612460158255,1.0387847577703773,0.24397041991672758,2.4916337436417435,5.601874236508018,2.3183697027506147,1.7321734061354639,2.712361194788738,3.221049549552946,1.1800459796728746,2.1477191327622345,2.1698837004485556,2.1533826021469338,2.630575606649666,2.088758638771635])  |
|2        |43 |112287.5078125|9097.29296875        |(16,[1],[1.0])   |3                |5              |5.0          |10                 |5                     |3.84                |4                   |281.2799987792969|34.52840042114258       |228               |167.06410217285156 |512.58837890625        |500.0766906738281 |(4,[2],[1.0])    |3          |0                      |0            |0          |0            |1                  |1        |0               |0           |1            |(7,[5],[1.0])           |(3,[1],[1.0])               |0               |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,37,42,43,46,52,55],[2.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,10.0,5.0,3.84,4.0,281.2799987792969,1.0,34.52840042114258,228.0,167.06410217285156,512.58837890625,500.0766906738281,3.0,1.0,1.0,1.0,1.0,1.0])         |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,37,42,43,46,52,55],[0.8728674383261662,3.9998883219282146,2.9339761037783267,2.8558844824821215,3.949630523930537,1.156138396078696,2.4174070780670025,0.5721251365934972,0.6741346897238862,0.7983246090335354,0.5669612460158255,1.0387847577703773,0.24397041991672758,2.4916337436417435,6.743944655055972,2.2882610053122954,1.7321734061354639,3.698966071240464,2.6115122522421244,1.1800459796728746,2.1477191327622345,2.1698837004485556,2.1533826021469338,3.2715265309554704,2.088758638771635])|
|7        |44 |112287.5078125|9097.29296875        |(16,[1],[1.0])   |3                |5              |5.0          |11                 |5                     |6.84                |5                   |281.2799987792969|37.05970001220703       |233               |167.06410217285156 |280.2784118652344      |742.3867797851562 |(4,[1],[1.0])    |3          |0                      |0            |0          |0            |1                  |1        |0               |0           |1            |(7,[2],[1.0])           |(3,[1],[1.0])               |0               |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,49,55],[7.0,44.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,6.84,5.0,281.2799987792969,1.0,37.05970001220703,233.0,167.06410217285156,280.2784118652344,742.3867797851562,3.0,1.0,1.0,1.0,1.0,1.0])       |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,49,55],[3.055036034141582,4.092908980577708,2.9339761037783267,2.8558844824821215,3.949630523930537,1.156138396078696,2.4174070780670025,0.5721251365934972,0.7415481586962748,0.7983246090335354,1.0098997194656893,1.2984809472129717,0.24397041991672758,2.3292588457469865,7.238347643300152,2.338442167709495,1.7321734061354639,2.0225591891155177,3.8769096969889567,1.1800459796728746,2.1477191327622345,2.1698837004485556,2.1533826021469338,2.8900380746618426,2.088758638771635])  |
|6        |43 |112287.5078125|9097.29296875        |(16,[1],[1.0])   |3                |5              |5.0          |11                 |4                     |3.84                |4                   |281.2799987792969|37.351200103759766      |232               |167.06410217285156 |299.0474417550223      |697.9034031459263 |(4,[1],[1.0])    |3          |0                      |0            |0          |0            |1                  |1        |0               |0           |1            |(7,[0],[1.0])           |(3,[1],[1.0])               |0               |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,47,55],[6.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,4.0,3.84,4.0,281.2799987792969,1.0,37.351200103759766,232.0,167.06410217285156,299.0474417550223,697.9034031459263,3.0,1.0,1.0,1.0,1.0,1.0])      |(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,47,55],[2.6186023149784985,3.9998883219282146,2.9339761037783267,2.8558844824821215,3.949630523930537,1.156138396078696,2.4174070780670025,0.5721251365934972,0.7415481586962748,0.6386596872268283,0.5669612460158255,1.0387847577703773,0.24397041991672758,2.3292588457469865,7.295282238022114,2.328405935230055,1.7321734061354639,2.158001207720316,3.64460756157465,1.1800459796728746,2.1477191327622345,2.1698837004485556,2.1533826021469338,2.2923828312284638,2.088758638771635])   |

In [135]:
transformed_df.select("features", "Credit_score_num").show(truncate=False)

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------+
|features                                                                                                                                                                                                                                                                                  |Credit_score_num|
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------+
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,48,55],[1.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,7.84,4.0,281.2799987792969,1.0,37.2849006652832,227.0,167.06410217285156,343.6820068359375,648.9832153320312,3.0,1.0,1.0,1.0,1.0,1.0])        |1               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,53,55],[4.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,13.0,5.0,3.84,4.0,281.2799987792969,1.0,35.26259994506836,230.0,167.06410217285156,72.20210266113281,910.4630737304688,3.0,1.0,1.0,1.0,1.0,1.0])       |0               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,48,55],[1.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,7.84,4.0,281.2799987792969,1.0,37.2849006652832,227.0,167.06410217285156,343.6820068359375,648.9832153320312,3.0,1.0,1.0,1.0,1.0,1.0])        |1               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,53,55],[4.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,13.0,5.0,3.84,4.0,281.2799987792969,1.0,35.26259994506836,230.0,167.06410217285156,72.20210266113281,910.4630737304688,3.0,1.0,1.0,1.0,1.0,1.0])       |0               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,42,43,46,48,55],[3.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,3.84,4.0,281.2799987792969,1.0,26.999099731445312,230.0,167.06410217285156,330.76629638671875,661.8988037109375,1.0,1.0,1.0,1.0,1.0])            |0               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,42,43,46,48,55],[3.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,3.84,4.0,281.2799987792969,1.0,26.999099731445312,230.0,167.06410217285156,330.76629638671875,661.8988037109375,1.0,1.0,1.0,1.0,1.0])            |0               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,37,42,43,46,48,55],[5.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,3.84,4.0,281.2799987792969,1.0,28.681100845336914,231.0,167.06410217285156,375.8684997558594,616.7965698242188,3.0,1.0,1.0,1.0,1.0,1.0])      |1               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,37,42,43,46,48,55],[5.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,3.84,4.0,281.2799987792969,1.0,28.681100845336914,231.0,167.06410217285156,375.8684997558594,616.7965698242188,3.0,1.0,1.0,1.0,1.0,1.0])      |1               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,37,42,43,46,52,55],[2.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,10.0,5.0,3.84,4.0,281.2799987792969,1.0,34.52840042114258,228.0,167.06410217285156,512.58837890625,500.0766906738281,3.0,1.0,1.0,1.0,1.0,1.0])         |0               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,49,55],[7.0,44.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,6.84,5.0,281.2799987792969,1.0,37.05970001220703,233.0,167.06410217285156,280.2784118652344,742.3867797851562,3.0,1.0,1.0,1.0,1.0,1.0])       |0               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,47,55],[6.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,4.0,3.84,4.0,281.2799987792969,1.0,37.351200103759766,232.0,167.06410217285156,299.0474417550223,697.9034031459263,3.0,1.0,1.0,1.0,1.0,1.0])      |0               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,49,55],[7.0,44.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,5.0,6.84,5.0,281.2799987792969,1.0,37.05970001220703,233.0,167.06410217285156,280.2784118652344,742.3867797851562,3.0,1.0,1.0,1.0,1.0,1.0])       |0               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,42,43,46,53,55],[8.0,44.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,6.0,4.840000000000002,5.0,281.2799987792969,1.0,39.52840042114258,234.0,167.06410217285156,177.94639587402344,804.7186889648438,1.0,1.0,1.0,1.0,1.0])|0               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,29,32,33,34,35,36,37,42,43,46,47,55],[6.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,4.0,3.84,4.0,281.2799987792969,1.0,37.351200103759766,232.0,167.06410217285156,299.0474417550223,697.9034031459263,3.0,1.0,1.0,1.0,1.0,1.0])      |0               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,42,43,46,53,55],[8.0,44.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,11.0,6.0,4.840000000000002,5.0,281.2799987792969,1.0,39.52840042114258,234.0,167.06410217285156,177.94639587402344,804.7186889648438,1.0,1.0,1.0,1.0,1.0])|0               |
|(57,[0,1,2,3,5,20,21,22,23,24,25,26,27,30,32,33,34,35,36,37,42,43,46,52,55],[2.0,43.0,112287.5078125,9097.29296875,1.0,3.0,5.0,5.0,10.0,5.0,3.84,4.0,281.2799987792969,1.0,34.52840042114258,228.0,167.06410217285156,512.58837890625,500.0766906738281,3.0,1.0,1.0,1.0,1.0,1.0])         |0               |
|(57,[0,1,2,3,11,20,21,22,23,24,25,26,27,28,32,33,34,35,36,37,40,47,55],[6.0,52.0,27759.3203125,2419.276611328125,1.0,8.0,6.0,9.0,10.0,10.0,7.35,5.0,245.3000030517578,1.0,25.00589942932129,291.0,15.548700332641602,122.61074011666435,190.78590393066406,1.0,1.0,1.0,1.0])              |1               |
|(57,[0,1,2,3,11,20,21,22,23,24,25,26,27,28,32,33,34,35,36,37,40,50,55],[7.0,52.0,27759.3203125,2419.276611328125,1.0,8.0,6.0,9.0,14.0,10.0,11.35,5.0,245.3000030517578,1.0,29.12660026550293,292.0,15.548700332641602,61.83729934692383,404.54168701171875,1.0,1.0,1.0,1.0])              |1               |
|(57,[0,1,2,3,11,20,21,22,23,24,25,26,27,28,32,33,34,35,36,37,40,50,55],[5.0,52.0,27759.3203125,2419.276611328125,1.0,8.0,6.0,9.0,14.0,9.0,11.35,5.0,245.3000030517578,1.0,36.17639923095703,290.0,15.548700332641602,59.8218994140625,406.5570983886719,1.0,1.0,1.0,1.0])                 |1               |
|(57,[0,1,2,3,11,20,21,22,23,24,25,27,28,32,33,34,35,36,37,40,48,55],[4.0,52.0,27759.3203125,2419.276611328125,1.0,8.0,6.0,9.0,14.0,10.0,11.35,245.3000030517578,1.0,23.4601993560791,289.0,15.548700332641602,52.76179885864258,423.6171875,1.0,1.0,1.0,1.0])                             |1               |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------+
only showing top 20 rows

In [136]:
spark.stop()